{%load static%}
<!DOCTYPE html>
<html>
<head>
	<link rel="shortcut icon" type="png" href="{% static 'images/icon/favicon.png'%}">
	<title>Prepare for GATE on LearnEd</title>
	<link rel="stylesheet" type="text/css" href="{% static 'subjects.css' %}">
	<script type="text/javascript" src="{% static 'script.js'%}"></script>
</head>
<body>

<!-- NAVIGATION -->
	<header>
		<div class="nav" id="nav">
			<div id="learned-logo">
			<a href="../index.html"><img src="{% static 'images/icon/logo.png' %}" style="width: 120px;"></a></div>
			<div class="switch-tab" id="switch-tab" onclick="switchTAB()"><img src="{% static 'images/icon/menu.png'%}"></div>
			<ul id="list-switch">
				<li><a href="{% url 'jee'%}"><img src="{% static 'images/courses/d1.png'%}" class="icon">JEE</a></li>
				<li><a href="{% url 'gate'%}"><img src="{% static 'images/courses/paper.png'%}" class="icon">GATE</a></li>
				<li><a href="{% url 'computer_courses'%}"><img src="{% static 'images/courses/computer.png'%}" class="icon">Computer Courses</a></li>
				<li><a href="{% url 'data_structures'%}"><img src="{% static 'images/courses/data.png'%}" class="icon">Data Structures</a></li>
				<li><a href="{% url 'algorithms'%}"><img src="{% static 'images/courses/algo.png'%}" class="icon">Algorithm</a></li>
				
			</ul>
			
		</div>
	</header>


<!-- Main Title of the Page -->
	<div class="title">
		<span>Prepare for GATE Exams on Eternal</span>
		<div class="shortdesc">
			<p>Learn from LearnEd for better higher studies in<br> Indian Institutes of Technologies(IIT)</p>
		</div>
	</div>


<!-- Some KeyWords related to topic -->
	<div class="course">
		<div class="cbox">
		<div class="det"><a href="#digital">Digital Logic</a></div>
		<div class="det"><a href="https://www.geeksforgeeks.org/combinational-and-sequential-circuits/" target="_blank">Combinational & Sequential Circuits</a></div>
		<div class="det"><a href="https://www.geeksforgeeks.org/computer-arithmetic-set-1/" target="_blank">Computer Arithmetic</a></div>
		<div class="det"><a href="https://www.geeksforgeeks.org/boolean-algebra/" target="_blank">Boolean Algebra</a></div>
		<div class="det"><a href="computer_courses.html#algo">Algorithm</a></div>
		<div class="det"><a href="computer_courses.html#data">Data Structures</a></div>
		</div>
		<div class="cbox">
		<div class="det"><a href="#compiler">Compiler Design</a></div>
		<div class="det"><a href="#os">OS</a></div>
		<div class="det"><a href="#coaa">Computer Organization & Architecture</a></div>
		<div class="det"><a href="https://en.wikipedia.org/wiki/IPv4" target="_blank">IPv4 / IPv6</a></div>
		<div class="det"><a href="#cn">Computer Networks</a></div>
		<div class="det"><a href="#database">Databases</a></div>
		<div class="det"><a href="https://www.geeksforgeeks.org/introduction-of-theory-of-computation/" target="_blank">Theory of Computation</a></div>
		</div>
		<div class="cbox">
		<div class="det"><a href="#math">Discrete Mathematics</a></div>
		<div class="det"><a href="#math">Calculus</a></div>
		<div class="det"><a href="#math">Linear Algebra</a></div>
		<div class="det"><a href="#math">Trigonometry</a></div>
		<div class="det"><a href="#math">Integration</a></div>
		<div class="det"><a href="#math">Matrices</a></div>
		<div class="det"><a href="#math">Probability</a></div>
		<div class="det"><a href="#math">Differentiation</a></div>
		</div>
	</div>


<!-- Courses Available -->
	

<!-- Videos on ENGINEERING MATHEMATICS Lectures -->

	<div class="title2" id="math">
		<span>Engineering Mathematics</span>
		<div class="shortdesc2">
			<p>Practice Mathematics on your tips...</p>
		</div>
	</div>
	
	<center>
		<div class="ccardbox2">
			<div class="dcard2"><span class="tag" >1/8</span>
				<div class="fpart2"><img src="{% static 'images/courses/math.jpg'%}" width:100>
					<iframe src="https://www.youtube.com/embed/xxGyTHWrHZg" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
				</div>
			</div>
			<div class="dcard2"><span class="tag" >2/8</span>
				<div class="fpart2"><img src="{% static 'images/courses/math.jpg'%}">
					<iframe src="https://www.youtube.com/embed/xxGyTHWrHZg" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
				</div>
			</div>
			<div class="dcard2"><span class="tag" >3/8</span>
				<div class="fpart2"><img src="{% static 'images/courses/math.jpg'%}">
					<iframe src="https://www.youtube.com/embed/xxGyTHWrHZg" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
				</div>
			</div>
			<div class="dcard2"><span class="tag" >4/8</span>
				<div class="fpart2"><img src="{% static 'images/courses/math.jpg'%}">
					<iframe src="https://www.youtube.com/embed/xxGyTHWrHZg" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
				</div>
			</div>
		
			<div class="dcard2"><span class="tag" >5/8</span>
				<div class="fpart2"><img src="{% static 'images/courses/math.jpg'%}">
					<iframe src="https://www.youtube.com/embed/xxGyTHWrHZg" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
				</div>
			</div>
			<div class="dcard2"><span class="tag" >6/8</span>
				<div class="fpart2"><img src="{% static 'images/courses/math.jpg'%}">
					<iframe src="https://www.youtube.com/embed/xxGyTHWrHZg" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
				</div>
			</div>
			<div class="dcard2"><span class="tag" >7/8</span>
				<div class="fpart2"><img src="{% static 'images/courses/math.jpg'%}">
					<iframe src="https://www.youtube.com/embed/xxGyTHWrHZg" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
				</div>
			</div>
			<div class="dcard2"><span class="tag" >8/8</span>
				<div class="fpart2"><img src="{% static 'images/courses/math.jpg'%}">
					<iframe src="https://www.youtube.com/embed/xxGyTHWrHZg" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
				</div>
			</div>
		</div>
	</center>
<br><br>
	<div class="click-me">
		<a href="https://www.youtube.com/watch?v=xxGyTHWrHZg" target="_blank">Click Here to Watch full playlist</a>
	</div>



<!-- Videos on DIGITAL LOGIC Lectures -->

	<div class="title2" id="digital">
		<span>Digital Logic</span>
		<div class="shortdesc2">
			<p>Learn deeply about Digital Logic Circuits...</p>
		</div>
	</div>
	<center>
		<div class="ccardbox2">
			<div class="dcard2"><span class="tag" >1/8</span>
				<div class="fpart2"><img src="{% static 'images/courses/digital.jpg'%}">
					<iframe src="https://www.youtube.com/embed/-M7oIM8hKSU" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
				</div>
			</div>
			<div class="dcard2"><span class="tag" >2/8</span>
				<div class="fpart2"><img src="{% static 'images/courses/digital.jpg'%}">
					<iframe src="https://www.youtube.com/embed/-M7oIM8hKSU" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
				</div>
			</div>
			<div class="dcard2"><span class="tag" >3/8</span>
					<div class="fpart2"><img src="{% static 'images/courses/digital.jpg'%}">
					<iframe src="https://www.youtube.com/embed/-M7oIM8hKSU" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
				</div>
			</div>
			<div class="dcard2"><span class="tag" >4/8</span>
				<div class="fpart2"><img src="{% static 'images/courses/digital.jpg'%}">
					<iframe src="https://www.youtube.com/embed/-M7oIM8hKSU" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
				</div>
			</div>
		
			<div class="dcard2"><span class="tag" >5/8</span>
				<div class="fpart2"><img src="{% static 'images/courses/digital.jpg'%}">
					<iframe src="https://www.youtube.com/embed/-M7oIM8hKSU" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
				</div>
			</div>
			<div class="dcard2"><span class="tag" >6/8</span>
				<div class="fpart2"><img src="{% static 'images/courses/digital.jpg'%}">
					<iframe src="https://www.youtube.com/embed/-M7oIM8hKSU" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
				</div>
			</div>
			<div class="dcard2"><span class="tag" >7/8</span>
				<div class="fpart2"><img src="{% static 'images/courses/digital.jpg'%}">
					<iframe src="https://www.youtube.com/embed/-M7oIM8hKSU" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
				</div>
			</div>
			<div class="dcard2"><span class="tag" >8/8</span>
				<div class="fpart2"><img src="{% static 'images/courses/digital.jpg'%}">
					<iframe src="https://www.youtube.com/embed/-M7oIM8hKSU" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
				</div>
			</div>
		</div>
	</center>
<br><br>
	<div class="click-me">
		<a href="https://youtu.be/-M7oIM8hKSU" target="_blank">Click Here to Watch full playlist</a>
	</div>



<!-- Videos on COMPUTER ORGANIZATION and ARCHITECTURE Lectures -->

	<div class="title2" id="coaa">
		<span>Computer Organization and Architecture</span>
		<div class="shortdesc2">
			<p>Build your concepts strong easily with our great tutors...</p>
		</div>
	</div>
	<center>
		<div class="ccardbox2">
			<div class="dcard2"><span class="tag" >1/8</span>
				<div class="fpart2"><img src="{% static 'images/courses/coaa.jpg'%}">
					<iframe src="https://www.youtube.com/embed/q6oiRtKTpX4" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
				</div>
			</div>
			<div class="dcard2"><span class="tag" >2/8</span>
				<div class="fpart2"><img src="{% static 'images/courses/coaa.jpg'%}">
					<iframe src="https://www.youtube.com/embed/q6oiRtKTpX4" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
				</div>
			</div>
			<div class="dcard2"><span class="tag" >3/8</span>
				<div class="fpart2"><img src="{% static 'images/courses/coaa.jpg'%}">
					<iframe src="https://www.youtube.com/embed/q6oiRtKTpX4" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
				</div>
			</div>
			<div class="dcard2"><span class="tag" >4/8</span>
				<div class="fpart2"><img src="{% static 'images/courses/coaa.jpg'%}">
					<iframe src="https://www.youtube.com/embed/q6oiRtKTpX4" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
				</div>
			</div>
		
			<div class="dcard2"><span class="tag" >5/8</span>
					<div class="fpart2"><img src="{% static 'images/courses/coaa.jpg'%}">
					<iframe src="https://www.youtube.com/embed/q6oiRtKTpX4" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
				</div>
			</div>
			<div class="dcard2"><span class="tag" >6/8</span>
					<div class="fpart2"><img src="{% static 'images/courses/coaa.jpg'%}">
					<iframe src="https://www.youtube.com/embed/q6oiRtKTpX4" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
				</div>
			</div>
			<div class="dcard2"><span class="tag" >7/8</span>
				<div class="fpart2"><img src="{% static 'images/courses/coaa.jpg'%}">
					<iframe src="https://www.youtube.com/embed/q6oiRtKTpX4" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
				</div>
			</div>
			<div class="dcard2"><span class="tag" >8/8</span>
				<div class="fpart2"><img src="{% static 'images/courses/coaa.jpg'%}">
					<iframe src="https://www.youtube.com/embed/q6oiRtKTpX4" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
				</div>
			</div>
		</div>
	</center>
<br><br>
	<div class="click-me">
		<a href="https://youtu.be/q6oiRtKTpX4" target="_blank">Click Here to Watch full playlist</a>
	</div>



<!-- Videos on COMPILER Lectures -->

	<div class="title2" id="compiler">
		<span>Compiler Design</span>
		<div class="shortdesc2">
			<p>Build your concepts strong easily with our great tutors...</p>
		</div>
	</div>
	<center>
		<div class="ccardbox2">
			<div class="dcard2"><span class="tag" >1/8</span>
				<div class="fpart2"><img src="{% static 'images/courses/compiler.jpg'%}">
					<iframe src="https://www.youtube.com/embed/yNZIhF6pxjM" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
				</div>
			</div>
			<div class="dcard2"><span class="tag" >2/8</span>
				<div class="fpart2"><img src="{% static 'images/courses/compiler.jpg'%}">
					<iframe src="https://www.youtube.com/embed/yNZIhF6pxjM" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
				</div>
			</div>
			<div class="dcard2"><span class="tag" >3/8</span>
				<div class="fpart2"><img src="{% static 'images/courses/compiler.jpg'%}">
					<iframe src="https://www.youtube.com/embed/yNZIhF6pxjM" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
				</div>
			</div>
			<div class="dcard2"><span class="tag" >4/8</span>
				<div class="fpart2"><img src="{% static 'images/courses/compiler.jpg'%}">
					<iframe src="https://www.youtube.com/embed/yNZIhF6pxjM" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
				</div>
			</div>
		
			<div class="dcard2"><span class="tag" >5/8</span>
				<div class="fpart2"><img src="{% static 'images/courses/compiler.jpg'%}">
					<iframe src="https://www.youtube.com/embed/yNZIhF6pxjM" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
				</div>
			</div>
			<div class="dcard2"><span class="tag" >6/8</span>
				<div class="fpart2"><img src="{% static 'images/courses/compiler.jpg'%}">
					<iframe src="https://www.youtube.com/embed/yNZIhF6pxjM" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
				</div>
			</div>
			<div class="dcard2"><span class="tag" >7/8</span>
				<div class="fpart2"><img src="{% static 'images/courses/compiler.jpg'%}">
					<iframe src="https://www.youtube.com/embed/yNZIhF6pxjM" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
				</div>
			</div>
			<div class="dcard2"><span class="tag" >8/8</span>
				<div class="fpart2"><img src="{% static 'images/courses/compiler.jpg'%}">
					<iframe src="https://www.youtube.com/embed/yNZIhF6pxjM" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
				</div>
			</div>
		</div>
	</center>
<br><br>
	<div class="click-me">
		<a href="https://youtu.be/yNZIhF6pxjM" target="_blank">Click Here to Watch full playlist</a>
	</div>



<!-- Videos on OPERATING SYSTEM Lectures -->


<div class="title2" id="os">
		<span>Operating System</span>
		<div class="shortdesc2">
			<p>Build your concepts strong easily with our great tutors...</p>
		</div>
	</div>
	<center>
		<div class="ccardbox2">
			<div class="dcard2"><span class="tag" >1/8</span>
				<div class="fpart2"><img src="{% static 'images/courses/os.jpg'%}">
					<iframe src="https://www.youtube.com/embed/vBURTt97EkA" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
				</div>
			</div>
			<div class="dcard2"><span class="tag" >2/8</span>
				<div class="fpart2"><img src="{% static 'images/courses/os.jpg'%}">
					<iframe src="https://www.youtube.com/embed/vBURTt97EkA" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
				</div>
			</div>
			<div class="dcard2"><span class="tag" >3/8</span>
				<div class="fpart2"><img src="{% static 'images/courses/os.jpg'%}">
					<iframe src="https://www.youtube.com/embed/vBURTt97EkA" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
				</div>
			</div>
			<div class="dcard2"><span class="tag" >4/8</span>
				<div class="fpart2"><img src="{% static 'images/courses/os.jpg'%}">
					<iframe src="https://www.youtube.com/embed/vBURTt97EkA" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
				</div>
			</div>
		
			<div class="dcard2"><span class="tag" >5/8</span>
				<div class="fpart2"><img src="{% static 'images/courses/os.jpg'%}">
					<iframe src="https://www.youtube.com/embed/vBURTt97EkA" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
				</div>
			</div>
			<div class="dcard2"><span class="tag" >6/8</span>
				<div class="fpart2"><img src="{% static 'images/courses/os.jpg'%}">
					<iframe src="https://www.youtube.com/embed/vBURTt97EkA" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
				</div>
			</div>
			<div class="dcard2"><span class="tag" >7/8</span>
				<div class="fpart2"><img src="{% static 'images/courses/os.jpg'%}">
					<iframe src="https://www.youtube.com/embed/vBURTt97EkA" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
				</div>
			</div>
			<div class="dcard2"><span class="tag" >8/8</span>
				<div class="fpart2"><img src="{% static 'images/courses/os.jpg'%}">
					<iframe src="https://www.youtube.com/embed/vBURTt97EkA" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
				</div>
			</div>
		</div>
	</center>

<br><br>
	<div class="click-me">
		<a href="https://youtu.be/vBURTt97EkA" target="_blank">Click Here to Watch full playlist</a>
	</div>


<!-- Videos on DATABASE Lectures -->

<div class="title2" id="database">
		<span>Databases</span>
		<div class="shortdesc2">
			<p>Build your concepts strong easily with our great tutors...</p>
		</div>
	</div>
	<center>
		<div class="ccardbox2">
			<div class="dcard2"><span class="tag" >1/8</span>
				<div class="fpart2"><img src="{% static 'images/courses/database.jpg'%}">
					<iframe src="https://www.youtube.com/embed/wR0jg0eQsZA" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
				</div>
			</div>
			<div class="dcard2"><span class="tag" >2/8</span>
				<div class="fpart2"><img src="{% static 'images/courses/database.jpg'%}">
					<iframe src="https://www.youtube.com/embed/wR0jg0eQsZA" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
				</div>
			</div>
			<div class="dcard2"><span class="tag" >3/8</span>
				<div class="fpart2"><img src="{% static 'images/courses/database.jpg'%}">
					<iframe src="https://www.youtube.com/embed/wR0jg0eQsZA" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
				</div>
			</div>
			<div class="dcard2"><span class="tag" >4/8</span>
				<div class="fpart2"><img src="{% static 'images/courses/database.jpg'%}">
					<iframe src="https://www.youtube.com/embed/wR0jg0eQsZA" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
				</div>
			</div>
		
			<div class="dcard2"><span class="tag" >5/8</span>
				<div class="fpart2"><img src="{% static 'images/courses/database.jpg'%}">
					<iframe src="https://www.youtube.com/embed/wR0jg0eQsZA" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
				</div>
			</div>
			<div class="dcard2"><span class="tag" >6/8</span>
				<div class="fpart2"><img src="{% static 'images/courses/database.jpg'%}">
					<iframe src="https://www.youtube.com/embed/wR0jg0eQsZA" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
				</div>
			</div>
			<div class="dcard2"><span class="tag" >7/8</span>
				<div class="fpart2"><img src="{% static 'images/courses/database.jpg'%}">
					<iframe src="https://www.youtube.com/embed/wR0jg0eQsZA" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
				</div>
			</div>
			<div class="dcard2"><span class="tag" >8/8</span>
				<div class="fpart2"><img src="{% static 'images/courses/database.jpg'%}">
					<iframe src="https://www.youtube.com/embed/wR0jg0eQsZA" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
				</div>
			</div>
		</div>
	</center>
<br><br>
	<div class="click-me">
		<a href="https://youtu.be/wR0jg0eQsZA" target="_blank">Click Here to Watch full playlist</a>
	</div>



<!-- Videos on COMPUTER NETWORKS Lectures -->

<div class="title2" id="cn">
		<span>Computer Networks</span>
		<div class="shortdesc2">
			<p>Build your concepts strong easily with our great tutors...</p>
		</div>
	</div>
	<center>
		<div class="ccardbox2">
			<div class="dcard2"><span class="tag" >1/8</span>
				<div class="fpart2"><img src="{% static 'images/courses/cn.jpg'%}">
					<iframe src="https://www.youtube.com/embed/qiQR5rTSshw" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
				</div>
			</div>
			<div class="dcard2"><span class="tag" >2/8</span>
				<div class="fpart2"><img src="{% static 'images/courses/cn.jpg'%}">
					<iframe src="https://www.youtube.com/embed/qiQR5rTSshw" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
				</div>
			</div>
			<div class="dcard2"><span class="tag" >3/8</span>
				<div class="fpart2"><img src="{% static 'images/courses/cn.jpg'%}">
					<iframe src="https://www.youtube.com/embed/qiQR5rTSshw" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
				</div>
			</div>
			<div class="dcard2"><span class="tag" >4/8</span>
				<div class="fpart2"><img src="{% static 'images/courses/cn.jpg'%}">
					<iframe src="https://www.youtube.com/embed/qiQR5rTSshw" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
				</div>
			</div>
		
			<div class="dcard2"><span class="tag" >5/8</span>
				<div class="fpart2"><img src="{% static 'images/courses/cn.jpg'%}">
					<iframe src="https://www.youtube.com/embed/qiQR5rTSshw" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
				</div>
			</div>
			<div class="dcard2"><span class="tag" >6/8</span>
				<div class="fpart2"><img src="{% static 'images/courses/cn.jpg'%}">
					<iframe src="https://www.youtube.com/embed/qiQR5rTSshw" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
				</div>
			</div>
			<div class="dcard2"><span class="tag" >7/8</span>
				<div class="fpart2"><img src="{% static 'images/courses/cn.jpg'%}">
					<iframe src="https://www.youtube.com/embed/qiQR5rTSshw" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
				</div>
			</div>
			<div class="dcard2"><span class="tag" >8/8</span>
				<div class="fpart2"><img src="{% static 'images/courses/cn.jpg'%}">
					<iframe src="https://www.youtube.com/embed/qiQR5rTSshw" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
				</div>
			</div>
		</div>
	</center>

<br><br>
	<div class="click-me">
		<a href="https://youtu.be/qiQR5rTSshw" target="_blank">Click Here to Watch full playlist</a>
	</div>

	

<!-- Links for SAMPLE PAPERS of JEE MAINS & ADVANCED -->

	
	
	
<!-- FOOTER -->
<footer>
	<div class="footer-container">
		<div class="left-col">
			<img src="../images/icon/logo - Copy.png" style="width: 200px;">
			<div class="logo"></div>
			<div class="social-media">
				<a href="#"><img src="{% static 'images/icon\fb.png'%}"></a>
				<a href="#"><img src="{% static 'images/icon\insta.png'%}"></a>
				<a href="#"><img src="{% static 'images/icon\tt.png'%}"></a>
				<a href="#"><img src="{% static 'images/icon\ytube.png'%}"></a>
				<a href="#"><img src="{% static 'images/icon\linkedin.png'%}"></a>
			</div><br><br>
			<p class="rights-text">Copyright © 2021 Created By Roshan Kumar, Abhishek Dulat All Rights Reserved.</p>
			<br><p><img src="{% static 'images/icon/location.png'%}"> Lovely Professional University<br>Phagwara, Punjab-144401</p><br>
			<p><img src="{% static 'images/icon/phone.png'%}"> +91-1234-567-890<br><img src="{% static 'images/icon/mail.png'%}">&nbsp; learnedonline9419@gmail.com</p>
		</div>
		
	</div>
</footer>

</body>
</html>